// Third party css library
@import url('../libs/bootstrap/css/bootstrap.min.css');
@import url('../libs/fontawsome/5.0.6/web-fonts-with-css/css/fontawesome-all.css');
@import url('../libs/themify-icons/themify-icons.css');
@import url('../libs/jquery/jquery-ui/css/jquery-ui.min.css');
@import url('../libs/jquery/jquery-mCustomScrollbar/css/jquery.mCustomScrollbar.min.css');
@import url('../libs/jquery/wizard/css/jquery.steps.css');
@import url('../libs/jquery/select2/css/select2.min.css');
@import url('../libs/jquery/datepicker/css/bootstrap-datepicker3.css');
@import url('../libs/datatables/css/dataTables.bootstrap4.min.css');
@import url('../libs/datatables/Responsive-2.2.1/css/responsive.bootstrap4.css');

// local css files
@import 'mixins';
@import 'loader';
@import 'checkboxToggle';
@import '../app/header/header';
@import '../app/aside/aside';
@import '../app/widgets/widgetContainer';
@import 'theme_chiller';

body {
    overflow: hidden; //font-family:'Open Sans', sans-serif;
    background: white;
}

#main {
    width: 100vw;
    height: calc(100vh - 56px);
    margin-top: 56px;
    overflow: hidden;
    position: relative;
    background: white;
    #viewDiv {
        width: 100%;
        height: 100%;
    }
}

#footer {
    position: fixed;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    left: 0;
}

.form-control,
.btn,
.input-group-text {
    @include border-radius(0);
}

.basemapContainer {
    position: absolute;
    top: 15px;
    right: 15px;
    max-height: calc(100% - 30px);
    transition: right .5s;
    &.hidden {
        right: -250px;
    }
}
.esri-ui-inner-container{
    bottom: 15px!important;
}

.ui-datepicker{
    z-index: 99999!important;
}

.dataTables_wrapper > .row > div {
    max-width: 100%;
}


input.error {
    border: 1px solid #dc3c23;
    color: #dc3c23;
}

label.error {
    color: #ff3111;
    display: inline-block;
}

//---------------------------------------------
