<div class="container">
  
  <p>Start drawing</p>

  <div class="form-group">
    <a name="" id="btn-sketch-point" class="btn btn-outline-secondary" href="#" role="button">${i18n.point}</a>
    <a name="" id="btn-sketch-line" class="btn btn-outline-secondary" href="#" role="button">Line</a>
    <a name="" id="btn-sketch-polygon" class="btn btn-outline-secondary" href="#" role="button">Polygon</a>
    <a name="" id="btn-sketch-reset" class="btn btn-outline-secondary" href="#" role="button">Clear</a>
  </div>

 
</div>