<div class="container">

  <div class="form-group">
    Simple example
  </div>
  <div class="form-group">
    <input type="text" name="" class="form-control" placeholder="textbox sample" aria-describedby="helpId">
  </div>
  <div class="form-group">
    <input type="text" name="" class="form-control" placeholder="" aria-describedby="helpId">
  </div>

  <div class="form-group">
    <div class="input-group mb-3">

      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

    </div>
  </div>
  <div class="form-group">
    <div class="">
      <input class="tgl tgl-ios" id="cb2" type="checkbox">
      <label class="tgl-btn" for="cb2"></label>
    </div>

  </div>
  <div class="form-group">
    <div class="toggle-button toggle-button--tuli">
      <input id="toggleButton1" type="checkbox">
      <label for="toggleButton1">Agree that</label>
      <div class="toggle-button__icon"></div>
    </div>
  </div>
  <div class="form-group">
    <div class='input-group date datepicker'>
      <input type='text' class="form-control"/>
      <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </span>
        </div>
    </div>

  </div>

  <hr>
  <div class="form-group">
    <a name="" id="a-submit" class="btn btn-outline-warning" href="#" role="button">Submit</a>
    <a name="" class="btn btn-outline-secondary" href="#" role="button">Cancel</a>
  </div>
  <div style="display:none;">
    <h5>Custom basemap</h5>
    <div class="form-group">
      <a name="" id="button-submit" class="btn btn-primary" href="#" role="button">Submit</a>
      <a name="" id="button-basmap" class="btn btn-primary" href="#" role="button">Algerie</a>
      <a name="" id="button-stress" class="btn btn-primary" href="#" role="button">Street</a>
    </div>

    <hr>
    <h5>Draw</h5>

    <div class="form-group">
      <a name="" id="btn-draw-point" class="btn btn-info" href="#" role="button">Point</a>
      <a name="" id="btn-draw-line" class="btn btn-info" href="#" role="button">Line</a>
      <a name="" id="btn-draw-polygon" class="btn btn-info" href="#" role="button">Polygon</a>
      <a name="" id="btn-draw-reset" class="btn btn-info" href="#" role="button">Clear</a>
    </div>
  </div>
</div>