<div class="container">

  <div id="wizard">
    <form class="" id="demandeForm">
      <h2>Formulaire</h2>
      <!-- section formulaire -->
      <section data-step="0" class="mScroll">
        <div class="innerSection">


          <div class="form-group">
            <h5>Information sur la demande</h5>
          </div>
          <hr>

          <div class="form-group">
            <input type="text" name="" class="form-control disabled" placeholder="Code demande" aria-describedby="helpId" disabled>
          </div>
          <div class="form-group">
            <select class="form-control staticSelect" name="state">
              <option value="travaux">Travaux</option>
              <option value="Intervention d'urgence">Intervention d'urgence</option>
            </select>
          </div>         
          <div class="form-group">
            <div class="chiller_cb">
              <input id="myCheckbox" type="checkbox" checked>
              <label for="myCheckbox">Prioritaire</label>
              <span></span>
            </div>
          </div>
          <div class="form-group">
            <div class='input-group date datepicker' id="date_demande">
              <input type='text' class="form-control" placeholder="Date demande" name="date_demande" />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="ti-calendar" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class='input-group date datepicker' id="date_propable">
              <input type='text' class="form-control" placeholder="Date début Propable" name="date_propable" />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="ti-calendar" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Durée (jours)" aria-describedby="helpId" name="duree">
          </div>
          <div class="form-group">
            <select class="form-control" name="state" id="select_commune">
            </select>
          </div>
        </div>
      </section>
      <!-- end section formulaire-->
      <h2>Implantation</h2>
      <section data-step="1">
        <div class="innerSection">

          <div class="form-group">
            <h5> Implantation du chantier</h5>
          </div>
          <hr>
          <div class="form-group">
            <a name="" id="btn-add-point" class="btn btn-outline-secondary" href="#" role="button">
              <i class="esri-icon-map-pin"></i>
            </a>
            <a name="" id="btn-add-line" class="btn btn-outline-secondary" href="#" role="button">
              <i class="esri-icon-polyline"></i>
            </a>
            <a name="" id="btn-add-polygon" class="btn btn-outline-secondary" href="#" role="button">
              <i class="esri-icon-polygon"></i>
            </a>
            <a name="" id="btn-clear" class="btn btn-outline-secondary" href="#" role="button">Clear</a>
          </div>
        </div>
      </section>

      <h2>Attachement</h2>
      <section data-step="2">
        <div class="form-group">
          <h5>Attachement des documents</h5>
        </div>
        <hr>
        <p>Morbi ornare tellus at elit ultrices id dignissim lorem elementum. Sed eget nisl at justo condimentum dapibus. Fusce
          eros justo, pellentesque non euismod ac, rutrum sed quam. Ut non mi tortor. Vestibulum eleifend varius ullamcorper.
          Aliquam erat volutpat. Donec diam massa, porta vel dictum sit amet, iaculis ac massa. Sed elementum dui commodo
          lectus sollicitudin in auctor mauris venenatis.
        </p>
      </section>

    </form>
  </div>

</div>